*{margin: 0;
padding: 0;
}
body{
  background-color: #6A7E99;
}
#header{
  background-color: orange;
  padding: 20px;
  border-bottom: 3px solid lightblue;
}
.wrapper{
  width: 960px;
  margin: 0 auto;
}
#header h2{
  color: white;
}
#nav{
  background-color: pink;
  height: 40px;
}
#nav ul{
  list-style-type: none;
  background-color: white;
}
#nav ul li {
float: left;
border: 1px solid white;
background-color:pink;
}
#nav ul li a {
  text-decoration: none;
  padding: 10px;
  color: white;
  display: block;
  padding: 10px 20px;

    }
#nav ul li a:hover{
  color: pink;
  background-color:white ;
  border: 1px solid pink;
  font-family: arial;
  }

    #nav ul li{
      position: relative;
    }
    #nav ul li ul{
    	position:absolute;
    	left:-9999999px;
    }
    #nav ul li:hover ul{
    	left:0px;
    }
    #nav ul li ul li {
    	border-right: none;

      width: 150px;
    }
    .slider img {
      width: 960px;
      vertical-align: middle;
    }
    .main_content{
      background-color: white;
      overflow: hidden;
    }

    #content article{
      width: 600px;
      float: left;
      padding: 10px;
    }
    #content article p{
      text-align: justify;
    }
    #sidebar{
      width: 300px;
      float: right;
      padding:10px  20px;

    }
    #sidebar ul li a {
      text-decoration: none;
    }
    #footer{
      background-color: pink;
      height: 30px;

    }
    #footer p{
      text-align: center;
      padding: 5px;
    }
